<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QBCore - Spawnlocation</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="reset.css">
    <script src="vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
</head>
    <body>
        <v-app data-app>
            <div id="spawn-locations" v-show="show">
                <div class="spawn-header">
                    <p>{{translate('where_would_you_like_to_start')}}</p>
                </div>

                <div class="location-boxes">
                    <!-- Last Location Button (for returning players) -->
                    <div class="location-box" 
                        v-if="!newChar"
                        :class="{'selected': selectedValue.type === 'current'}"
                        @click="selectLocation('current', {type: 'current', label: translate('last_location')})">
                        <div class="location-label">{{translate('last_location')}}</div>
                    </div>

                    <!-- Normal Locations -->
                    <div class="location-box" 
                        v-for="(location, locationIdx) in positions.normal"
                        :key="'normal-' + locationIdx"
                        :class="{'selected': selectedValue.type === 'normal' && selectedValue.name === locationIdx}"
                        @click="selectLocation(locationIdx, {type: 'normal', ...location})">
                        <div class="location-label">{{location.label}}</div>
                    </div>

                    <!-- Apartments (for new characters) -->
                    <div class="location-box"
                        v-for="(location, locationIdx) in positions.appartment" 
                        :key="'apartment-' + locationIdx"
                        :class="{'selected': selectedValue.type === 'appartment' && selectedValue.name === locationIdx}"
                        @click="selectLocation(locationIdx, {type: 'appartment', ...location})">
                        <div class="location-label">{{location.label}}</div>
                    </div>

                    <!-- Houses -->
                    <div class="location-box" 
                        v-for="location in positions.house"
                        :key="'house-' + location.house"
                        :class="{'selected': selectedValue.type === 'house' && selectedValue.name === location.house}"
                        @click="selectLocation(location.house, {type: 'house', ...location})">
                        <div class="location-label">{{location.label}}</div>
                    </div>
                </div>

                <div class="spawn-buttons" v-if="selectedValue.type">
                    <v-btn 
                        color="#2f8643" 
                        class="spawn-button"
                        @click="confirmSpawn">
                        {{translate('confirm')}}
                    </v-btn>
                </div>
            </div>
        </v-app>

        <script>
            const viewmodel = new Vue({
                el: "#spawn-locations",
                vuetify: new Vuetify(),
                data: {
                    positions: {
                        normal: [],
                        appartment: [],
                        house: [],
                    },
                    selectedValue: {
                        type: "",
                        name: ""
                    },
                    newChar: false,
                    show: false,
                    translations: {}
                },

                methods: {
                    selectLocation: function(name, location) {
                        this.selectedValue = {
                            type: location.type,
                            name: name
                        };
                        
                        if (location.type === 'normal') {
                            axios.post('https://qb-spawn/setCam', {
                                posname: name,
                                type: location.type,
                            });
                        }
                    },

                    confirmSpawn: function() {
                        this.show = false;
                        const data = this.selectedValue;
                        if (data.type !== "appartment") {
                            axios.post('https://qb-spawn/spawnplayer', {
                                spawnloc: data.name,
                                typeLoc: data.type
                            });
                        } else {
                            axios.post('https://qb-spawn/chooseAppa', {
                                appType: data.name,
                            });
                        }
                    },

                    translate(phrase) {
                        return this.translations[phrase] || `Could not find phrase: ${phrase}`;
                    }
                },

                mounted () {
                    window.addEventListener('message', function (event) {
                        let data = event.data;
                        switch(data.action) {
                            case "showUi":
                                viewmodel.show = data.status;
                                viewmodel.translations = event.data.translations;
                                break;

                            case "setupLocations":
                                viewmodel.positions = {normal: [], appartment: [], house: []};
                                viewmodel.selectedValue = {type: "", name: ""};
                                viewmodel.positions.normal = data.locations;
                                viewmodel.positions.house = data.houses;
                                viewmodel.newChar = data.isNew;
                                break;

                            case "setupAppartements":
                                viewmodel.positions = {normal: [], appartment: [], house: []};
                                viewmodel.selectedValue = {type: "", name: ""};
                                viewmodel.positions.appartment = data.locations;
                                viewmodel.newChar = data.isNew;
                                break;
                        }
                    });
                }
            });
        </script>
    </body>
</html>
